set surround
set multiple-cursors

nnoremap ]h :action GotoNextElementUnderCaretUsage<CR>
nnoremap [h :action GotoPreviousElementUnderCaretUsage<CR>

" naviagte errors
nnoremap ]q :action GotoNextError<CR>
nnoremap [q :action GotoPreviousError<CR>

" exchange line
nnoremap ]e :action MoveLineDown<CR>
nnoremap [e :action MoveLineUp<CR>

" make AceJump acts like easymotion in vim
map <space>j :action AceLineAction<CR>
map <space>k :action AceLineAction<CR>
map <space>s :action AceTargetAction<CR>

" Add line before and after
map [<space> :action EditorStartNewLineBefore<CR>
map ]<space> :action EditorStartNewLine<CR>

" Show usage
map \jr :action ShowUsages<CR>

" Override vim's reformat
nnoremap \l :action ReformatCode<CR>

" https://github.com/hadix-lin/ideavim_extension
:set keep-english-in-normal-and-restore-in-insert

" easy motion
let g:EasyMotion_override_acejump = 0
set easymotion

