[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/share/nvim/leetcode"]
	path = .local/share/nvim/leetcode
	url = git@github.com:Stark-X/leetcode.git
